body {
  background-color: rgb(41, 41, 41);
  color: white;
}
input {
  background-color: rgb(70, 70, 70);
  color: white;
}
input[type='text'],
textarea {
  background-color: rgb(70, 70, 70);
  color: white;
}
a {
  color: #f2f2f2;
  font-size: 2.5em;
  color: rgb(211, 211, 211);
  background-color: transparent;
}
a:hover {
  color: #696969;
}
